@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  background-color: aqua;
  font-family: "Source Code Pro", monospace;
}

button.edit-btn,
button.delete-btn {
  appearance: none;
  background: none;
}

button.edit-btn:hover {
  cursor: pointer;
  color: green;
  transition: ease-in 0.4s;
}

button.delete-btn:hover {
  cursor: pointer;
  color: red;
  transition: ease-in 0.4s;
}
